body.wall {
    background: grey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
}

div {
    margin: auto;
    width: 500px;
    background-color: none;
    text-align: center;
}

input.btn {
    margin: auto;
    border: 3px solid rgb(166, 168, 144);
    padding: 10px;
}